# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\代码区\Y2\SpringBoot_01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
